#z{
 
  text-align: center;
  color: aqua;
  background:url("http://images.huffingtonpost.com/2016-05-05-1462454501-1775707-MothersDayPoems.jpg");
 width: 100%;
 height: 100%;

}
h3{
  text-align: center;
  color:darkblue  ;
}